@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welkom bij Self Defence by Jo Bonten</h1>
    <br />
    <img src="images/JoBonten.webp" class="img-fluid" alt="Jo Bonten Fight Machine" />
</div>
