@page "{handler?}"
@model BonjeMetBonten.Pages.OnderwerpenModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Onderwerpen";
}

<h1>Onderwerpen</h1>

<form method="post">
    <input type="text" asp-for="nieuwOnderwerp">
    <input type="submit" value="Voeg onderwerp toe">
    <span asp-validation-for="nieuwOnderwerp" style="color:red"></span>
</form>

<table class="table">
    @foreach (var Onderwerp in Model.Onderwerpen) {
        <tr>
            <td>@Onderwerp.Omschrijving</td>
            <td>
                <a class="btn btn-primary" asp-page="Onderwerpen" asp-page-handler="ToonOnderwerp" asp-route-id="@Onderwerp.Id">Toon</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-page="Onderwerpen" asp-page-handler="VerwijderOnderwerp" asp-route-id="@Onderwerp.Id">Verwijder</a>
            </td>
        </tr>
    }
</table>