@page
@model BonjeMetBonten.Pages.ToonOnderwerpModel
@{
}

<h1>Het onderwerp "@Model.OnderwerpOmschrijving" wordt behandeld in de volgende videos</h1>
<table class="table">
	@foreach (var Video in Model.Videos)
	{
		<tr>
			<td>@Video.Titel</td>
			<td>
				<iframe width="280" height="157"
						src="@Video.Link"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen>
				</iframe>
			</td>
			<td>
				<a class="btn btn-primary" asp-page="ToonOnderwerp" asp-page-handler="BewerkVideo" asp-route-id="@Video.Id">Bewerk</a>
			</td>
		</tr>
	}
</table>
