@page "{handler?}"
@model BonjeMetBonten.Pages.VideosModel
@{
	ViewData["Title"] = "Videos";
}

<h1>Videos</h1>

<form method="post">
	<input type="text" asp-for="searchString">
	<input type="submit" value="Zoeken">
	<span asp-validation-for="searchString" style="color:red"></span>
</form>

<table class="table">
		@foreach (var Video in Model.Videos) {
		<tr>
			<td>@Video.Titel</td>
			<td>
				<iframe width="280" height="157" 
					src="@Video.Link" 
					title="YouTube video player" 
					frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
				</iframe>
			</td>
			<td>
				<a class="btn btn-primary" asp-page="Videos" asp-page-handler="BewerkVideo" asp-route-id="@Video.Id">Bewerk</a>
			</td>
		</tr>
		}
</table>